<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <li>
            <ul><a href="/">Home</a></ul>
            <ul><a href="/Projects">Projects</a></ul>
            <ul><a href="/Contact">Contact</a></ul>
        </li>  
        <h1>Ninja Meow</h1>
        <img src="https://static1.squarespace.com/static/59b5007e59cc681cdd6d3b6b/59c215c6f09ca4b133dbe443/59c215c70abd045dc959c988/1505891864086/NinjaCat2.png?format=500w" alt="Ninja_cat" />
        <p>About Me</p>
        <p>Ninja Meow, a super ninja, has passion in food, travel and coding.</p>
        <p>Her goal is to save meowkind with her awesome ability in luck.</p>
    </body>
</html>